<form method="POST" action="/new">
  <p>Name: <input type="text" id="name" name="name"></p>
  <p>Name: <input type="text" id="breed" name="breed"></p>
  <p>Name: <input type="text" id="age" name="age"></p>

</form>
